.input-boxes {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  outline: none;
  border-style: solid;
  border-radius: 15px;
  border-color: #a99a9a2f;
  border-width: 2.5px;
  padding: 7px;
  margin-bottom: 2em;
  width: 100%;
  box-sizing: border-box; /*so that input box doestn extend past its container */
  /* but why does 100% go past border box even with no padding ? */
}

.input-boxes::placeholder {
  opacity: 0;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-4.5em);
  color: #ffffff;
  font-size: 1rem;
}
label {
  display: block; /* do i need this ?*/
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-size: 0.9rem;
  padding-left: 6px;
  transform: translateY(-3.3em);
  -webkit-transform: translateY(-3.3em);
  transform-origin: 0 0;
  user-select: none;
  cursor: text;
  transition: 0.25s;
}
