.homepage {
  position: fixed;
  top: 3rem; /*Account for navbar */
  height: fit-content;
  width: 100vw;
}

.table-section {
  z-index: 2;
  position: fixed;
  left: 15rem;
  background-color: rgb(39, 37, 37);
  width: calc(100% - 15rem); /*Account for sidebar*/
  height: calc(100% - 3rem); /*Account for navbar*/
  overflow: scroll;
  transition: width 0.15s linear, left 0.15s linear;
}

.table-section-no-sidebar {
  width: 100%;
  left: 0;
}
