.homepage {
  position: relative;
  top: 3rem;
  /* background-color: rgb(255, 255, 255); */
  height: 95vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 3rem;
  left: 0;
  bottom: 0;
  background-color: rgb(28, 27, 27);
  /* background-color: brown; */
  width: 20%;
  transition: transform .2s ease-out;
}

.sidebar-hidden{
  transform: translateX(-100%);
}


.create-table-container {
  box-sizing: border-box;
  width: 100%;
  /* background-color: green; */
}

.create-table-input,
.create-table-color,
.create-table-button {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.create-table-input {
  width: 100%;
  padding: 0.5rem;
  color: rgb(216, 158, 254);
  outline: none;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgb(35, 30, 30);/
}

.create-table-color {
  border: none;
  background-color: rgb(221, 221, 221);
}

.create-table-button {
  color: #ffffff;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
  height: 40px;
  border-style: none;
  border-radius: 3px;
}

.table-section {
  position: relative;
  left: 20%;
  background-color: rgb(39, 37, 37);
  /* background-color: red; */
  width: 80%;
  height: 100%;
  transition: width .5s ease, left .5s ease;
}

.table-section-no-sidebar{
  width: 100%;
  left: 0;
}
