.floating-input-container {
  height: fit-content;
  font-size: 1em;
  position: relative;
}

.input-boxes {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  outline: none;
  border-style: solid;
  border-radius: 1em;
  border-color: #eee4e42f;
  padding: 1em;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-sizing: border-box; /*so that input box does not extend past its container */
}

.input-boxes::placeholder {
}

/* input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-110%);
  color: #ffffff;
  font-size: 1rem;
} */

/* .floating-label {
  top: 5%;
  position: absolute;
  left: 2%;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
  transform-origin: 0 0;
  user-select: none;
  cursor: text;
  transition: 0.25s;
} */
