.navbar-container {
  top: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 2px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  height: auto;
}

.bucket-buddy-text {
  background-color: red;
  transform: translateY(-1px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-left: 8px;
}

.navbar div:only-child {
  margin-left: auto;
  margin-right: auto;
}
