.scrollable-div {
  position: absolute;
  width: 100%;
  height: 85%;
  overflow: auto;
  background-color: rgba(24, 22, 22, 0.157);
}

.tableNameButton {
  box-sizing: border-box;
  /* color: #c77dff; */
  font-size: 1em;
  text-align: left;
  font-weight: 800;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 0, 0, 0);
  margin: 0;
  border: none;
  padding: 0;
  text-indent: 3px;
}

.tableNameButton:hover {
  color: #ff7900;
}

.button-buddy-image {
  height: 2rem;
  pointer-events: none;
  transform: translateY(1rem);
}

.search-bar {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(35, 34, 34);
  font-size: 16px;
  height: 5%;
  width: 100%;
  color: #ff7900;
  outline: none;
}

.search-bar:hover {
  background-color: rgb(51, 50, 50);
}
