.scrollable-div {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1; /*take up all avalilable space not being used by create table, search, and settings containers*/
  /* background-color: green; */
  overflow: scroll;
}

.tableNameButton {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(233, 213, 247);
  padding: 1rem 0 1rem 0;
  text-indent: 3px;
}

.tableNameButton:hover {
  /* border: 1px solid white; */
  /* background-color: green; */
}

.button-buddy-image {
  position: absolute;
  height: 2em;
  right: 0;
  pointer-events: none;
  transform: translateY(0.5em);
}
