.scrollable-div {
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1; /*take up all avalilable space not being used by create table, search, and settings containers*/
  /* background-color: green; */
  overflow: scroll;
}

.tableNameButton {
  font-family: "cool", sans-serif;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  width: 100%;
  background-color: rgb(24, 23, 23);
  color: white;
  border: 0.5px solid rgb(9, 8, 9);
  /* border-bottom: 1px solid rgb(21, 20, 21); */
  padding: 1rem 0 1rem 0;
  text-indent: 3px;
}

.tableNameButton:hover {
  /* border: 1px solid white; */
  /* background-color: green; */
}

.button-buddy-image {
  z-index: 1000; /*Make sure it's always above buton for hanging effect*/
  position: absolute;
  height: 2em;
  right: 0;
  pointer-events: none;
  transform: translateY(0.8em);
}
