.table-container {
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */
  max-width: 95%;
}

.top-table-button {
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  color: #ebe7ef;
  background-color: transparent;
}

.top-table-button:hover {
  color: #c7a9ff;
}

/* Style the table itself */
table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 3.5px solid #f1d0f8; /* Light lavender border */
  border-radius: 6px;
}

th {
  /* background-color: red; */
  /* border: 2px solid #0d0d0d49; */
}

th p {
  /* background-color: blue; */
  display: block;
  color: white;
  outline: none;
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  border: none;
  border-bottom: 1.5px solid rgba(32, 31, 31, 0.4);
  margin-bottom: 0;
  min-width: 8em;
}

th select {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
  border: none;
  display: block;
  max-width: fit-content;
  margin: 2px auto 0;
}

/* Style the table rows (tr elements) */
tr {
  background-color: #00000025;
  /* border: 3px solid #000000; */
}

/* Add some hover effect for table rows */
tr:hover {
  background-color: rgba(0, 0, 0, 0.2); /* darker on hover */
}

td {
  height: auto;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style the input boxes within the table */
td input,
td textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  /* width: 100%; */
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0);
  text-indent: 4px;
  /* background-color: transparent; */
  /* border: 1px solid #1716161b; */
  border: none;
  outline: none;
}

td textarea {
  resize: vertical;
  width: fit-content;
}

/* textarea:focus {
  height: 4em;
} */

td input[type="checkbox"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: rgb(255, 55, 0);
  border: 3px solid rgb(229, 224, 214);
  border-radius: 5px;
}

td input[type="checkbox"]:checked {
  background-color: rgb(34, 139, 34);
}

.rating-input {
  all: unset;
  width: fit-content;
}

.bottom-row-plus-button {
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
  border-radius: 23px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.bottom-row-plus-button:hover {
  color: #ff7900;
  background-color: rgba(0, 0, 0, 0.8);
}

.tableName {
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-bottom: 0.1em;
  margin-right: auto;
  width: fit-content;
  border: none;
  border-bottom: 1.5px solid rgb(210, 190, 247);
}

.databaseStatus {
  /* display: none; */
  background-color: rgb(0, 255, 132);
}

input[type="search"] {
  color: red;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  th p {
    font-size: 1em;
    border-bottom: 1.5px solid rgba(32, 31, 31, 0.4);
    min-width: 3em;
  }

  .tableName {
    font-size: 2em;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  th p {
    font-size: 1.1em;
    border-bottom: 2px solid rgba(32, 31, 31, 0.4);
    min-width: 3em;
  }

  .tableName {
    font-size: 2.3em;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  th p {
    font-size: 1.2em;
    border-bottom: 2px solid rgba(32, 31, 31, 0.4);
    min-width: 3em;
  }

  .tableName {
    font-size: 2.5em;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  th p {
    font-size: 1.3em;
    border-bottom: 2px solid rgba(32, 31, 31, 0.4);
    min-width: 3.5em;
  }

  .tableName {
    font-size: 2.7em;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  th p {
    /* background-color: blue; */
    font-size: 1.5em;
    border-bottom: 2px solid rgba(32, 31, 31, 0.4);
    min-width: 3.7em;
  }

  .tableName {
    font-size: 2.8em;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  th p {
    font-size: 1.7em;
    border-bottom: 2px solid rgba(32, 31, 31, 0.4);
    min-width: 4em;
  }

  .tableName {
    font-size: 3em;
  }
}
