.table-container {
  position: relative;
  left: 0;
  max-height: 90%;
  overflow: scroll;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgba(140, 0, 255, 0); */
  background-color: red;
  width: 80%;
  max-width: 90%;
  /* How do i center this ? */
}

.top-table-button {
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  color: #ebe7ef;
  background-color: transparent;
}

.top-table-button:hover {
  color: #c7a9ff;
}

/* Style the table itself */
table {
  width: 100%;
  /* background-color: rgb(195, 10, 10); */
  margin-left: auto;
  margin-right: auto;
  border: 3.5px solid #f1d0f8; /* Light lavender border */
  border-radius: 6px;
}

/* Style the table headers (th elements) */
th {
  /* background-color: red; */
  /* border: 2px solid #0d0d0d49; */
  padding: 9px;
  text-align: left;
}

th input {
  background-color: transparent;
  color: white;
  outline: none;
  width: auto;
  height: 100%;
  font-size: 16px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(32, 31, 31, 0.4);
}

/* Style the table rows (tr elements) */
tr {
  background-color: #00000025;
  /* border: 3px solid #000000; */
}

/* Add some hover effect for table rows */
tr:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Light lavender on hover */
}

td {
  height: fit-content;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Style the input boxes within the table */
td input,
td textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0);
  text-indent: 4px;
  /* background-color: transparent; */
  /* border: 1px solid #1716161b; */
  border: none;
  outline: none;
}

td textarea {
  height: fit-content;
  resize: vertical;
}

.bottom-row-plus-button {
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
  border-radius: 23px;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.bottom-row-plus-button:hover {
  color: #ff7900;
  background-color: rgba(0, 0, 0, 0.8);
}

.tableName {
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin-bottom: 1.5rem;
  margin-right: auto;
  width: fit-content;
  border: none;
  border-bottom: 1.5px solid rgb(210, 190, 247);
}

.databaseStatus {
  background-color: rgb(0, 255, 132);
}
