.sidebar {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 3rem; /*Account for navbar*/
  left: 0;
  bottom: 0;
  background-color: rgb(28, 27, 27);
  width: 15rem;
  font-family: "cool", sans-serif;
}

.sidebar-toggle {
  background-color: transparent;
  color: rgb(223, 208, 251);
  border: none;
  font-size: 2em;
  transition: transform 0.15s ease-in;
}

.sidebar-hidden {
  transform: rotate(45deg);
}

.create-table-container {
  box-sizing: border-box;
  width: 100%;
  /* background-color: green; */
}

.create-table-input,
.create-table-color,
.create-table-button {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.create-table-input {
  width: 100%;
  border: none;
  padding: 1rem;
  color: rgb(221, 196, 237);
  outline: none;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(43, 40, 40);
  font-family: inherit;
}

.color-container {
  height: fit-content; /*Height taken up by dots*/
  position: relative;
  height: fit-content;
}

.create-table-color {
  position: absolute; /*We want dots to be over it */
  height: 100%; /*take up entire height and width of container */
  opacity: 0;
}

.color-dots {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
}

.color-dots p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em; /*Color input takes up height of container, so it adjust if we change this font size*/
}

.create-table-button {
  color: #ffffff;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-style: none;
  font-family: inherit;
}

.settings-button {
  border: none;
  background-color: transparent;
  text-align: right;
}

.settings-modal {
  /* background-color: wheat; */
  display: flex;
  justify-content: space-around;
}

.settings-modal img {
  height: 4rem;
}

.settings-modal button {
  border: none;
  background-color: transparent;
}
