.signup-half {
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/764/329/original/liquid-flow-purple-blue-3d-neon-lava-lamp-geometric-background-for-banner-card-ui-design-or-wallpaper-gradient-mesh-bubble-in-the-shape-of-a-wave-drop-fluid-colorful-abstract-shapes-free-vector.jpg");
  border-radius: 0 0 20% 20%;
  height: 95vh;
  background-size: cover;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  min-width: 20rem;
  max-width: 25rem;
  width: 35vw;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 25px 20px;
}

.information-grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "image1 text1  text1"
    "text2  text2  image2"
    "image3 image3 image3"
    "footer footer footer";
  grid-template-columns: 33% 33% 33%;
  width: 95vw;
  /* max-width: 55rem; */
  min-width: 28rem;
  margin: 0px auto 35px auto;
  padding-top: 2rem;
  /* padding: 2rem; */
  row-gap: 4rem;
}

.information-grid > p {
  color: rgb(237, 220, 255);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.information-grid > img {
  width: 100%;
  height: auto;
}

.grid-header {
  grid-area: header;
  color: white;
  border-radius: 25px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/764/329/original/liquid-flow-purple-blue-3d-neon-lava-lamp-geometric-background-for-banner-card-ui-design-or-wallpaper-gradient-mesh-bubble-in-the-shape-of-a-wave-drop-fluid-colorful-abstract-shapes-free-vector.jpg");
  background-size: cover;
  text-align: center;
  font-size: 5rem;
}

.grid-image1 {
  grid-area: image1;
}

.grid-image2 {
  grid-area: image2;
}

.grid-image3 {
  grid-area: image3;
}

.grid-text1 {
  grid-area: text1;
}

.grid-text2 {
  grid-area: text2;
}

.grid-footer {
  grid-area: footer;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
}

.buddy-image {
  width: 30vw;
  max-width: 16rem;
  min-width: 12rem;
  -webkit-filter: drop-shadow(1px -2px 5px #242424);
  filter: drop-shadow(1px -2px 5px #242424);
  height: auto;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.welcome-page-buddy-image {
  width: 15rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.test {
  font-family: butter;
  margin: 0;
}

.submit-form-button {
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  border-color: #0000002f;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.4s;
  margin-top: 0;
}

.submit-form-button:hover {
  color: rgb(255, 207, 49);
}

.forgot-password-link {
  margin-top: 1rem;
  color: whitesmoke;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navlink-couple {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5px;
}

@font-face {
  font-family: "butter";
  src: url("/Users/juansierra/BucketBuddy/bucketbuddy/src/assets/Butterfly-ywYKm.otf");
}

/* Style the table itself */
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 5px solid #d1d1e0; /* Light lavender border */
  background-color: #f5e6f8; /* Lavender background color */
}

/* Style the table headers (th elements) */
th {
  background-color: #9d61f1; /* Light purple for header background */
  color: white; /* White text color */
  border: 2px solid #d1d1e0;
  padding: 8px;
  text-align: left;
}

/* Style the table rows (tr elements) */
tr {
  border: 3px solid #c9adec;
}

/* Style the table data cells (td elements) */
td {
  padding: 12px;
}

td:hover {
  background-color: rgb(255, 210, 255);
}

/* Style the input boxes within the table */
input[type="text"] {
  display: block;
  width: 90%;
  /* margin-left: auto; */
  margin-right: auto;
  padding: 5px;
  background-color: #ffffff00;
  border: 1px solid #dbdbf21b;
  outline: none;
  border-radius: 3px;
}

/* Add some hover effect for table rows */
tr:hover {
  background-color: #e4ccff; /* Light lavender on hover */
}

.tableName {
  /* margin-top: 0; */
  margin-bottom: 0;
  display: inline-block;
  /* background-color: red; */
  color: rgb(179, 0, 255);
  padding: 3px;
}

.databaseStatus {
  background-color: red;
}

.tableNameButton:hover {
  background-color: #7678ed;
  color: white;
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 10rem;
  background-color: rgba(0, 0, 0, 0.244);
  /* background-color: green; */
}

.rightbar {
  margin-left: 10rem;
  height: 100vh;
  background-color: rgb(0, 100, 139);
}

.homepage {
  background-color: rgb(220, 115, 255);
}
