.signup-half {
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/764/329/original/liquid-flow-purple-blue-3d-neon-lava-lamp-geometric-background-for-banner-card-ui-design-or-wallpaper-gradient-mesh-bubble-in-the-shape-of-a-wave-drop-fluid-colorful-abstract-shapes-free-vector.jpg");
  border-radius: 0 0 20% 20%;
  height: 95vh;
  background-size: cover;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5%;
  -webkit-backdrop-filter: blur(22px);
  backdrop-filter: blur(22px);
  min-width: 20rem;
  max-width: 25rem;
  width: 35vw;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 25px 20px;
}

.information-grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "image1 text1  text1"
    "text2  text2  image2"
    "image3 image3 image3"
    "footer footer footer";
  grid-template-columns: 33% 33% 33%;
  width: 95vw;
  /* max-width: 55rem; */
  min-width: 28rem;
  margin: 0px auto 35px auto;
  padding-top: 2rem;
  /* padding: 2rem; */
  row-gap: 4rem;
}

.information-grid > p {
  color: rgb(237, 220, 255);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.information-grid > img {
  width: 100%;
  height: auto;
}

.grid-header {
  grid-area: header;
  color: white;
  border-radius: 25px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/011/764/329/original/liquid-flow-purple-blue-3d-neon-lava-lamp-geometric-background-for-banner-card-ui-design-or-wallpaper-gradient-mesh-bubble-in-the-shape-of-a-wave-drop-fluid-colorful-abstract-shapes-free-vector.jpg");
  background-size: cover;
  text-align: center;
  font-size: 5rem;
}

.grid-image1 {
  grid-area: image1;
}

.grid-image2 {
  grid-area: image2;
}

.grid-image3 {
  grid-area: image3;
}

.grid-text1 {
  grid-area: text1;
}

.grid-text2 {
  grid-area: text2;
}

.grid-footer {
  grid-area: footer;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
}

.buddy-image {
  width: 30vw;
  max-width: 16rem;
  min-width: 12rem;
  -webkit-filter: drop-shadow(1px -2px 5px #242424);
  filter: drop-shadow(1px -2px 5px #242424);
  height: auto;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.welcome-page-buddy-image {
  width: 15rem;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.test {
  font-family: butter;
  margin: 0;
}

.submit-form-button {
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(20, 20, 20);
  border-color: #0000002f;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.4s;
  margin-top: 0;
}

.submit-form-button:hover {
  color: rgb(255, 207, 49);
}

.forgot-password-link {
  margin-top: 1rem;
  color: whitesmoke;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navlink-couple {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5px;
}

@font-face {
  font-family: "butter";
  src: url("/Users/juansierra/BucketBuddy/bucketbuddy/src/assets/Butterfly-ywYKm.otf");
}

/* Style the table itself */
table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 5px solid #d1d1e0; /* Light lavender border */
  background-color: #f5e6f8; /* Lavender background color */
}

/* Style the table headers (th elements) */
th {
  background-color: #9d61f1; /* Light purple for header background */
  color: white; /* White text color */
  border: 2px solid #d1d1e0;
  padding: 8px;
  text-align: left;
}

/* Style the table rows (tr elements) */
tr {
  border: 3px solid #c9adec;
}

/* Style the table data cells (td elements) */
td {
  padding: 12px;
}

td:hover {
  background-color: rgb(255, 210, 255);
}

/* Style the input boxes within the table */
input[type="text"] {
  display: block;
  width: 90%;
  /* margin-left: auto; */
  margin-right: auto;
  padding: 5px;
  background-color: #ffffff00;
  border: 1px solid #dbdbf21b;
  outline: none;
  border-radius: 3px;
}

/* Add some hover effect for table rows */
tr:hover {
  background-color: #e4ccff; /* Light lavender on hover */
}

.tableName {
  /* margin-top: 0; */
  margin-bottom: 0;
  display: inline-block;
  /* background-color: red; */
  color: rgb(179, 0, 255);
  padding: 3px;
}

.databaseStatus {
  background-color: red;
}

.scrollable-div {
  /* display: flex;
  flex-direction: column; */
  width: 10rem;
  height: 100vh;
  overflow: auto;
}

.tableNameButton {
  color: white;
  font-weight: bold;
  width: 10rem;
  height: 3rem;
  background-color: #a66ef5;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(222, 184, 241);
}

.tableNameButton:hover {
  background-color: #8c42f3;
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 10rem;
  /* background-color: green; */
}

.rightbar {
  margin-left: 10rem;
  height: 100vh;
  /* background-color: yellow; */
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* @font-face {
        font-family: test;
        src: url(CreamySugar-gxnGR.ttf);
    }
    body{
        margin: 0;
        background-color: #8BACFD;
        background-image: linear-gradient(#8BACFD, #8234e8);
    }

    .top-bar{
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: space-between;
        padding: .2rem .7rem;
    } */

/* .top-bar-bucketmate{
        color:  #8BACFD;
        font-size: 1.6rem;
        text-decoration: none;
    }

    .top-bar-signup{
        font-family: test;
        font-size: 1.2rem;
        color:  #ffffff;
        text-decoration: none;
        background-color:  #6200ff;
        border-radius: 10px;
        align-self: center;
    } */

/*-----------------------------------------------*/

/* .buddy-image{
        width: 30vw;
        max-width: 20rem;
        min-width: 12rem;
        image-rendering: pixelated;
        -webkit-filter: drop-shadow(1px -2px 5px #242424);
        height: auto;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .container{
        background-color: rgba(255, 253, 253, 0.1);
        border-radius: 5%;
        filter: blur(100%);
        min-width: 15rem;
        max-width: 22rem;
        width: 35vw;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding: 30 20 25 20;
    } */

/* .input-boxes{
        background-color: transparent;
        color: rgb(255, 255, 255);
        outline: none; 
        border-style:solid;
        border-radius: 10px;
        border-color: #0000002f;
        border-width: 2.5px;
        padding: 4px;
        margin-bottom: 2em;
        width: 100%;
    } */

/* .input-boxes::placeholder{
        opacity: 0;
    } */

/* input:focus + label, 
    input:not(:placeholder-shown) + label
    {
        transform: translateY(-4.7em);
        color:#ffffff;
        font-size: 1rem;
    } */
/* 
    label{
       display:block;
       position: absolute;
       color: #eeeeee;
       font-family: sans-serif;
       font-size: .9rem;
       padding-left: 6px;
       transform: translateY(-3.5em);
       -webkit-transform: translateY(-3.5em);
       transform-origin: 0 0;
       user-select: none;
       cursor: text;
       transition: 0.3s;
    } */

/* .signin-button{
        color: #ffffff;
        border-radius: 10px;
        background-color: black;
        border-color: #0000002f;
        display: block;  
        margin-right: auto;
        margin-left: auto;
        font-size: 1rem;
        font-weight: bold;
        transition: all .4s;
    }

    .signin-button:hover{
        color: rgb(255, 207, 49);
    }

    .forgot-password-link{
        color: whitesmoke;
        font-size: 1rem;
        display: block;
        text-align: center;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    } */
